## Data exploration

In this notebook, the data will be explored to determine if it is complete and suitable for further processing.

In [1]:
import pandas as pd

The data is read from the original Excel file and stored in a pandas DataFrame.

In [2]:
data = pd.read_excel('../data/original/Ein-Ausfahrten_Wildpark_Alle.xlsx')

In [3]:
# The first 10 rows of the DataFrame are displayed.
data.head(10)

         Tag  Kurzparker Einfahrten  Kurzparker Ausfahrten     PName
0 2015-01-01                     90                    100  Wildpark
1 2015-01-02                     50                     49  Wildpark
2 2015-01-03                     50                     52  Wildpark
3 2015-01-04                    151                    150  Wildpark
4 2015-01-05                     98                     97  Wildpark
5 2015-01-06                    184                    182  Wildpark
6 2015-01-07                     46                     46  Wildpark
7 2015-01-08                     40                     38  Wildpark
8 2015-01-09                     35                     36  Wildpark
9 2015-01-10                    199                    199  Wildpark

In [4]:
# The last 10 rows of the DataFrame are displayed.
data.tail(10)

            Tag  Kurzparker Einfahrten  Kurzparker Ausfahrten     PName
2995 2023-04-24                     45                     45  Wildpark
2996 2023-04-25                     39                     39  Wildpark
2997 2023-04-26                    111                    112  Wildpark
2998 2023-04-27                    105                    107  Wildpark
2999 2023-04-28                     33                     33  Wildpark
3000 2023-04-29                    205                    205  Wildpark
3001 2023-04-30                    422                    424  Wildpark
3002 2023-05-01                    100                    100  Wildpark
3003 2023-05-02                     53                     53  Wildpark
3004 2023-05-03                     76                     30  Wildpark

In [5]:
# The column 'PName' is dropped, because it contains only the name of the parking facility and is not needed for the analysis.
data = data.drop(columns=['PName'])

In [6]:
# Checking if there are any missing values in the DataFrame.
print(data[data.isna().any(axis=1)])

Empty DataFrame
Columns: [Tag, Kurzparker Einfahrten, Kurzparker Ausfahrten]
Index: []

In [7]:
# Checking if there are any duplicated rows in the DataFrame.
print(data[data.duplicated()])

Empty DataFrame
Columns: [Tag, Kurzparker Einfahrten, Kurzparker Ausfahrten]
Index: []

In [8]:
# Checking if there are any duplicated values in the column 'Tag'.
print(data[data['Tag'].duplicated()])

Empty DataFrame
Columns: [Tag, Kurzparker Einfahrten, Kurzparker Ausfahrten]
Index: []

In [9]:
# The number of days between 1.1.2015 and 3.5.2023 is calculated.
days = pd.date_range(start='2015-01-01', end='2023-05-03').nunique()

# The number of days contained in the data is retrieved.
days_in_data = data['Tag'].nunique()

print(f'Number of days between 1.1.2015 and 5.3.2023: {days}')
print(f'Number of days in the data: {days_in_data}')
print(f'Number of days missing from the data: {days - days_in_data}')

Number of days between 1.1.2015 and 5.3.2023: 3045
Number of days in the data: 3005
Number of days missing from the data: 40

The number of days included in the data is less than the number of days between 1.1.2015 and 5.3.2023. There are 40 days missing in the data. The missing days are calculated and displayed below

In [10]:
missing_days = pd.date_range(start='2015-01-01', end='2023-05-03').difference(data['Tag'])
print(f'Missing days: {missing_days}')

Missing days: DatetimeIndex(['2015-07-17', '2015-07-18', '2015-07-19', '2016-12-06',
               '2016-12-07', '2017-07-05', '2017-07-06', '2017-07-07',
               '2017-07-08', '2017-07-09', '2017-10-03', '2017-10-04',
               '2017-10-05', '2017-12-19', '2018-09-24', '2018-09-25',
               '2018-09-26', '2019-07-27', '2019-07-28', '2019-07-29',
               '2019-07-30', '2019-07-31', '2019-08-01', '2019-08-02',
               '2019-08-03', '2019-08-04', '2019-08-05', '2019-08-06',
               '2019-10-16', '2019-10-17', '2019-10-18', '2020-08-19',
               '2020-08-20', '2020-12-18', '2020-12-19', '2020-12-20',
               '2020-12-21', '2022-07-29', '2022-07-30', '2022-07-31'],
              dtype='datetime64[ns]', freq=None)

In [11]:
# The percentage of missing days is calculated.
missing_days_percentage = (len(missing_days) / days) * 100
print(f'Percentage of missing days: {missing_days_percentage:.2f}%')

Percentage of missing days: 1.31%

The data is sufficiently complete and can be further processed, but the first few columns show that a different number of entries and exits were measured on several days.

In [12]:
# Checking if there are any days when the number of entries and exits is different and calculate the percentage of these days.
different_values_percentage = (data[data['Kurzparker Einfahrten'] != data['Kurzparker Ausfahrten']].shape[0] / days_in_data) * 100
print(f'Percentage of days when the number of entries and exits is different: {different_values_percentage:.2f}%')

Percentage of days when the number of entries and exits is different: 70.65%